* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}


.header {
    height: 55px;
    background-color: rgb(88, 121, 81);
    
}
.nav li {
    display: inline-block;
}

a {
    display: block;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    color: white;
    width: 100px;
}

a:hover {
    background-color:rgb(41, 112, 25);
}

.nav img {
    height: 25px;
    position: relative;
    top:8px;
    overflow: hidden;
}

#sliders {
    position: relative;
}

#sliders .mySlide {
    display: none;
}

#sliders #imgS1 {
    display: block;
}

#sliders img {
    width: 100%;
    height: auto;
    
}

#sliders a {
    background: silver;
    display: inline-block;
    position: absolute;
    bottom:40%;
    width: 60px;
    line-height: 40px;
    border-radius: 15px;
}

/* .left , .right {
    position: absolute;
} */

#sliders .left {
    left: 0;
}

#sliders .right {
    right:0;
}

#dots {
    margin: auto;
    width: 100%;
    padding-left: 46%;

}

#dots a {
    background-color: rgb(124, 124, 124);
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;

    
}

#search {
    position: absolute;
    right: 10px;
    height: 55px;
    line-height: 55px;
    padding: 5px;
}
#footer {
    background-color: rgb(88, 121, 81);
    margin-top: 15px;
}


